.footer {
    width: 100%;
    background-color: #FDBC86; 
    color: #191923ff; 
    text-align: center;
    padding: 20px 10px;
    position: absolute; 
    box-sizing: border-box;

}

.footer-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

