.InfoPage-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
    margin: 0; 
    padding: 0; 
  }
  
  .InfoPage-container li {
    height: 39.5vh;
    flex-grow: 1;
  }
  
  .InfoPage-container .reverse-gradient-section {
    display: flex;
    flex-direction: column; 
    width: 100%;
    background: rgba(253, 188, 134, 0.3);
    color: #191923ff;
    padding: 40px 20px; 
    box-sizing: border-box;
    position: relative;
  }
  
  .InfoPage-container .section-title {
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 2.5vw;
    font-size: 3.5rem;
    font-weight: bold;
    color: #191923ff;
  }
  
  .InfoPage-container .image-row {
    display: grid; 
    grid-template-columns: repeat(2, 50%); 
    gap: 2%;
    justify-content: center; 
    margin-top: 0px;
  }
  
  .InfoPage-container .image-row a {
    flex: 1; 
    max-width: 100%; 
    text-decoration: none;
    position: relative;
  }
  
  .InfoPage-container .image-row img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    justify-content: center;
    transition: transform 0.25s ease; 
  }
  
  .InfoPage-container .image-row img:hover {
    transform: scale(1.05); 
  }
  
  .InfoPage-container .image-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbfef9ff; 
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    pointer-events: none;
  }
  
  .InfoPage-container .main-content {
    flex: 1;
    text-align: center; 
    padding: 0; 
  }
  
  .InfoPage-container .main-content-directors {
    flex: 1;
    padding: 0; 
  }
  
  .InfoPage-container .main-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  
  .InfoPage-container .main-content p {
    font-size: 2rem;
    max-width: 100%; 
    line-height: 1.6;
  }
  
  .InfoPage-container img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  
  .InfoPage-container .footer {
    width: 100%;
    background-color: #FDBC86; 
    color: #191923ff; 
    text-align: center;
    padding: 20px 10px;
    position: relative; 
    box-sizing: border-box;
  }
  
  .InfoPage-container .footer-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
  }
  
  .InfoPage-container .contact-link {
    text-decoration: none;
    color: #191923ff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .InfoPage-container .copyright {
    font-size: 1rem;
    margin: 0;
  }
  
  @media (max-aspect-ratio: 1/1) {
    .InfoPage-container li {
        height: 30vh;
    }
  }
  
  @media (max-height: 480px) {
    .InfoPage-container li {
        height: 80vh;
    }
  }
  
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .InfoPage-container ul {
        flex-direction: row;
    }
  
    .InfoPage-container li {
        height: auto;
        width: 100%;
    }
  
    .InfoPage-container img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
  }
  
  @media (max-width: 768px) {
    .InfoPage-container .image-row {
        flex-direction: column; 
        gap: 10px; 
        grid-template-columns: 1fr; 

    }
  
    .InfoPage-container .image-row a {
        max-width: 100%; 
    }
  
    .InfoPage-container .image-row {
        flex-direction: column;
        gap: 10px;
    }
  
    .InfoPage-container .image-card {
        max-width: 100%; 
    }
  
    .InfoPage-container .main-content p {
        font-size: 1.2rem;
    }
  }
  